### smapi command {#smapi-command}

{{{smapiCommandDescription}}}

**Syntax:**

```
$ {{baseCommand}} <subcommand> 
```

#### Subcommands
{:.no_toc}

| Subcommand <img width=350 /> | Description |
|---|---|
{{#commands}}
| [`{{name}}`](#{{name}}-subcommand) | {{{description}}}  |
{{/commands}}

{{#commands}} 

#### {{name}} subcommand {#{{name}}-subcommand}
{:.no_toc}

{{description}}

**Syntax:**

```
$ {{baseCommand}} {{name}} {{{optionsString}}}
```

**Options:**
<dl>
   {{#options}}
    <dt>{{name}}</dt>
    <dd>{{{description}}}</dd>
    {{/options}}
</dl>

{{/commands}}


